<div class="container">
<form>
    <!-- <div class="head">
        <h1>Contact our</h1>
        <h1><p>Customer Support Center</p></h1>
    </div>
    <div class="img">
        <img src="assets\image\img.jpg" alt="image" width="300" height="200">
    </div> -->
    <div class="form-group row">
      <div class="col-sm-7 text-center pt-4 ">
        <h1 style="color:#af8b4c">Contact Our</h1>
        <h1>Customer Support Center</h1>
      </div>
      <div class="col-sm-5 pr-2">
        <img src="assets\image\img.jpg" alt="image" width="300" height="200">
      </div>

    </div>
  <div class="text-center my-5">
    <h3>Contact Information</h3>
    <p>Please fill out your contact information below.</p>
    </div> 
  <div class="form-group row">
    <label for="first last" class="required">Name</label>
      
    <div class="col-sm-4 ">
      <input type="text" class="form-control" id="first">
      <strong class="item-decript">First Name</strong>
    </div>
    <div class="col-sm-4 ">
      <input type="text" class="form-control" id="last">
      <strong class="item-decript">Last Name</strong>
    </div>
  </div>

    <div class="form-group mt-4">
      <label for="mail" class="required">Email</label>
      <input type="email" class="form-control" id="mail">
    </div>

    <div class="form-group mt-4">
      <label for="phone" class="required">Phone</label>
      <input type="tel" class="form-control" id="phone">
    </div>

    <div class="form-group mt-4">
      <label for="address" class="required">Address</label>
      <input type="text" class="form-control" id="address">
    </div>

    <div class="text-center mt-5 mb-5">
      <button class="btn btnstyle">Submit Form</button>
    </div>
</form>
</div>